/**
el asterisco es para definir el formato en gral, para todos excepto los que ya tienen
*/
* {color: aquamarine
    ;}
p, span {
    color: red;
    width: 300px;
}
/**
Comentario en css
*/
h1{
    border: 1px solid black;
    padding: 30px 15px 25px 20px;
    
    /**
    padding/margen en las agujas del reloj se pueden escribir los padding: 30px 20px 14px 13px
    */
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10;
    margin-right: 10;
    font-weight: bold;
    color: green;
}
section{
        width: 300px;
        border: 15px solid red;
        padding: 50px;
        margin: 20px;


}
/**
trabajar con ID
*/
#parrafo1 {color: blue;}

.estaesmiclase {
    color: blueviolet;
    font-weight:bold ;
}

section h1 {
    color: beige;
    font-weight: 50px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }